<a href= "/movies">Go Back</a>
<h1>{{this.movieId.title}}</h1>
<h2>Director:{{this.movieId.director}}</h2>

<img src="{{this.movieId.image}}">
<h3>Stars</h3>
<li>{{this.movieId.stars}}</li>
<p>{{this.movieId.description}}</p>
<p>{{this.movieId.showtimes}}</p>
