<h1>{{movie.title}}</h1>
<h2>{{movie.director}}</h2>
<h3>Stars
    <ul>
        <li>{{movie.stars}}</li>
    </ul>
</h3>
<img src= "{{movie.image}}"/>
<p>{{movie.description}}</p>
<p>{{movie.showtime}}</p>